:root {
  --blue: #273FAD;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #EBEBEB;
  --shapes: #FFFFFF;
  --text-title: #3D3D4D;
  --text: #1C1C29;
  --text-light: #A09CB1;

  --my-blue: #001b91;
  --my-green: #25cc00;
  --my-red: 	#99001c;
  --my-red-trash: 	#ff002f;
  --my-black: 	#000000;
  --my-background: #EBEBEB;
  --my-shapes: #ffffff;
  --my-text-title: #ffffff;
  --my-text: #ffffff;
  --my-text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}